div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:1337/api/students/{id}
div(class="section")
  div(class="label") Description
  div(class="value") Returns the student associated with the numeric ID provided in the route.
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
      | {
      |   "id": 1,
      |   "name": "Moe",
      |   "gender": "male",
      |   "location": "Ma",
      | }
div(class="section")
  div(class="label") Description
  div(class="value") Creates a new animal from the data provided in the body.
div(class="section")
  div(class="label") Response
  div(class="value")
     pre
      | {
      |   "id": 4,
      |   "name": "Juldany",
      |   "species": "male",
      |   "protected": false,
      |   "location": ma,
      |   "createdAt": "2020-09-08T00:11:15.172Z",
      |   "updatedAt": "2020-09-08T00:11:15.172Z"
      | }
