<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
         h1(class="title") Welcome to  Stack Education
                     h4(id="get-students")
                        a(type="button" onclick="activate('get-students')")
                                span GET students
                                    h4(id="get-students-id")
                                        a(onclick="activate('get-students-id')") 
                                                span GET students/id
                                                    h4(id="post-students")
                                                        a(onclick="activate('post-students')")
                                                                span POST students
                                                                    h4(id="delete-students")
                                                                        a(onclick="activate('delete-students')")
                                                                                span DELETE students/id
                                                                                    
                                                    
                                                                    